{% extends "public/templates/public_template.html" %}

{% block title %}Groa Recommendations{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
                <div class=page>
                <h1>Groa recommends these movies!</h1>

                {% block content %}
                    {{ data|safe }}
                {% endblock %}
        </div>
    </div>
</div>

{% endblock %}
