{% extends "public/templates/public_template.html" %}

{% block title %}Groa Recommendations{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
                <div class=page>
                <h1>Groa recommends these movies!</h1>
            <form action='/resubmission' method='POST'>
                <input type="submit" value="Resubmit with checked movies">
                {% block content %}
                    {{ data|safe }}
                {% endblock %}

                <h2>Hidden Gems you might enjoy</h2>
                <input type="submit" value="Resubmit with checked movies">
                {% block hidden %}
                    {{ hidden_data|safe }}
                {% endblock %}

                <h2>Movies you might think are underrated</h2>
                <input type="submit" value="Resubmit with checked movies">
                {% block cult %}
                    {{ cult_data|safe }}
                {% endblock %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
