{% extends "public/templates/public_template.html" %} {% block title %}Home{% endblock %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
            <br>
            <h3>Welcome to open-source movie discovery.</h3>
            <br>
            <p>To date, IMDb users have reviewed over 118,000 different movies. Gróa helps you find the next one to watch.</p>
            <p>Find cult movies. </p>
            <p>Find hidden gems. </p>
            <p>Find movies at the strange crossroads that is your movie taste. </p>
            <p>With so much data on hand, we can finally stop watching "whatever's on Netflix". </p>

            <br><br>
            <h3>Unleash the power of your watch history.</h3>

            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <br>
                    <h5><a class="nav-link" id="imdb" href="/imdb_upload">IMDB Users - Ratings</a></h5>
                    <p>Upload your IMDb ratings file.</p>
                </li>
                <li class="nav-item">
                    <br>
                    <h5><a class="nav-link" id="letterboxd" href="/letterboxd_upload">Letterboxd Users</a></h5>
                    <p>Upload your Letterboxd export file.</p>
                </li>
                <li class="nav-item">
                    <br>
                    <h5><a class="nav-link" id="user_search" href="/user_search">IMDB Users - Reviews</a></h5>
                    <p>Enter your IMDb username to import your reviews.</p>
                </li>
            </ul>
            <hr>

        </div>
    </div>
</div>

{% endblock %}
