{% extends "public/templates/public_template.html" %} {% block title %}IMDB Upload{% endblock %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
            <br>
            <h3>IMDB Upload</h3>
            <hr>
            <p>If you've used IMDb to rate movies, you can upload your
                <b>ratings.csv</b> file to Gróa to get endless custom movie recommendations.
                <br>We do not keep a copy of this data, and it is deleted from our server at the end of your session.
            </p>
            <br>
            <h5>To get this file and upload it here, follow these steps:</h5>
            <br>
            <p>1. Login to <b><a href="www.imdb.com">IMDb</a></b>.</p>
            <p>2. Click on your username and select <b>"Your ratings"</b>.</p>
            <p>3. To the right of the words <b>"Your Ratings"</b>, you'll see three dots in a vertical line. Click that and press <b>"Export"</b>. Save the file somewhere convenient, like your <b>"Downloads"</b> folder.</p>
            <p>4. Click on the <b>"Browse"</b> button below, navigate to the file, and double-click to upload.</p>
            <p>5. Finally, click <b>"Upload File"</b> below.</p>
            <br>

            <form action="/imdb_submission" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="file" id="file">
                        <label class="custom-file-label" for="file">Select ratings.csv file...</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-lg btn-block">Upload</button>

            </form>
        </div>
    </div>
</div>

{% endblock %}
