{% extends "public/templates/public_template.html" %}

{% block title %}Recommendation Time!{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">
            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
            <br>
            <h1>Gróa Recommender!</h1>
            <hr>

            <form action="/recommendations" method="POST" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Please enter your IMDB username</label>
                    <div class="imdb-name">
                      <input type="text" class="custom-name-input" name="name" id="name">
                      <label class="custom-name-label" for="name"></label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Submit username</button>


            </form>
        </div>
    </div>
</div>

{% endblock %}
