{% extends "public/templates/public_template.html" %} {% block title %}User reviews{% endblock %} {% block main %}

<div class="container">
    <div class="row">
        <div class="col">

            <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
            <div class=page>
                <br>
                <h3>Reviews by {{name}}</h3>

                {% block content %} {{ data|safe }} {% endblock %}

            </div>
            <form action='/user_search_recommendations' method='post'>
                <div class="slidecontainer">

                    <input type="range" min="1" max="10" value="1" class="slider" id="myRange" name="bad_rate">
                    <p>Highest star rating (out of 10) I give to movies I dislike: <span id="demo"></span></p>
                </div>
                <div class="slidecontainer">
                    <input type="range" min="1" max="10" value="10" class="slider2" id="myRange2" name="good_rate">
                    <p>Lowest star rating (out of 10) I give to movies I like: <span id="demo2"></span></p>

                </div>
                <!-- <div class="slidecontainer">
              <input type="range" min="1920" max="2020" value="1920" class="slider3" id="myRange3" name="year_min">
              <p>Minimum Year Value: <span id="demo3"></span></p>
            </div>
            <div class="slidecontainer">
              <input type="range" min="1920" max="2020" value="2020" class="slider4" id="myRange4" name="year_max">
              <p>Maximum Year Value: <span id="demo4"></span></p>
            </div> -->
                <input type="checkbox" name="hidden" value="hidden_gems_check"> Add Hidden Gems to my search<br>
                <input type="checkbox" name="cult" value="cult_movies_check"> Add Cult movies to my search<br>
                <input type="checkbox" name="extra_weight" value="parabolic_weighting_check"> Give extra weight to my extreme ratings, like 1 or 10 stars (experimental)<br>
                <input type="submit" value="Submit to the model">
            </form>
        </div>
    </div>

    {% endblock %}
