{% extends "public/templates/public_template.html" %}

{% block title %}User reviews{% endblock %}

{% block main %}

<div class="container">
    <div class="row">
        <div class="col">

                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
                <div class=page>
                <h1>user reviews</h1>
            <form action='/userlookup' method='post'>            
                <input type="submit" value="Resubmit with checked movies">
                {% block content %}
                    {{ data|safe }}
                {% endblock %}
            </form>
        </div>
    </div>
</div>

{% endblock %}
