body            { font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a, h1, h2       { color: #377ba8; }
h1, h2          { margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding: 10px;
  margin-top: 40px
  margin-bottom: 40px;
  font-size: 0.9em;
}

.dataframe td:first-child:nth-child(2) {
  text-align:left
}
.movies th {
    background-color: #add8e6;
    color: white;
}

.female th {
    /* background-color: #77dd77; */
    /* color: white; */
}

/* tr:nth-child(odd)		{ background-color:#222; }
tr:nth-child(even)	{ background-color:#333; } */

/* tr:hover            { background-color: #ffff99;} */

.orange, .upvote, #imdb {
  color: #F39C12
}
.green, #letterboxd {
  color: #00bc8c
}
.blue, .downvote, #user_search {
  color: #3498DB
