[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
beautifulsoup4 = "*"
pandas = "*"
psycopg2 = "*"
aws2 = "*"
decouple = "*"

[requires]
python_version = "3.7.5"
python-decouple = "*"
