<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groa Visualizations</title>
</head>
<body>
    <table style="width:40%">
        <tr>
            <th>Graph</th>
            <th>Route</th>
        </tr>
        <tr>
            <td>All graphs data</td>
            <td>/get_all_graphs/user_id</td>
        </tr>
        <tr>
            <td>Header</td>
            <td>/get_header/user_id</td>
        </tr>
        <tr>
            <td>Best rated movies</td>
            <td>/get_best_rated</td>
        </tr>
        <tr>
            <td>Latest reviews</td>
            <td>/get_last_reviews</td>
          </tr>
        <tr>
            <td>Favorite genres</td>
            <td>/get_favorite_genres/user_id</td>
        </tr>
        <tr>
            <td>Wordcloud</td>
            <td>/get_common_words/user_id</td>
          </tr>
        <tr>
            <td>Favorite years</td>
            <td>/get_favorite_years/user_id</td>
        </tr>
        <tr>
            <td>Recommended genres</td>
            <td>/get_recommended_genres/user_id</td>
        </tr>
        <tr>
            <td>Recommended years</td>
            <td>/get_recommended_years/user_id</td>
        </tr>
        <tr>
            <td>---------</td>
            <td>---------</td>
        </tr>
        <tr>
            <td>Chart favorite genres</td>
            <td>/chart_favorite_genres/user_id</td>
        </tr>
        <tr>
            <td>Chart favorite years</td>
            <td>/chart_favorite_years/user_id</td>
        </tr>
        <tr>
            <td>Chart recommended genres</td>
            <td>/chart_recommended_genres/user_id</td>
        </tr>
        <tr>
            <td>Chart recommended years</td>
            <td>/chart_recommended_years/user_id</td>
        </tr>
      </table>

</body>
</html>