[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto = "*"
boto3 = "*"
botocore = "*"
certifi = "*"
chardet = "*"
click = "*"
docutils = "*"
gensim = "*"
idna = "*"
itsdangerous = "*"
jmespath = "*"
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
python-dateutil = "*"
python-dotenv = "*"
pytz = "*"
requests = "*"
s3transfer = "*"
scipy = "*"
six = "*"
smart-open = "*"
urllib3 = "*"
Flask = "*"
Jinja2 = "*"
MarkupSafe = "*"
Werkzeug = "*"

[requires]
python_version = "3.7"
