[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
requests = "*"

[packages]
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
gensim = "*"
python-dotenv = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
redis = "*"
elasticsearch = "*"
requests-aws4auth = "*"

[requires]
python_version = "3.7"
