[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
numpy = "*"
psycopg2-binary = "*"
gensim = "*"
python-dotenv = "*"
boto3 = "*"
requests = "*"
gunicorn = "*"
fastapi = "*"
uvicorn = "*"
pydantic = "*"
pytest = "*"

[requires]
python_version = "3.7"
